body {
  background: fixed left center url("https://i.imgur.com/WxxROR4.jpg");
}
body, select, input {
  font-family: 'Gloria Hallelujah', cursive;
}
pre {
  display: inline;
}
footer::before {
  background: rgba(0,0,0,0.7);
  width: 98vw;
}
footer {
  text-align: center;
  padding: 6rem 0;
}
section[main], #query:focus, #query {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
card {
  background: rgba(255,255,255,0.8);
  text-shadow: none;
  color: black;
}
h3 {
  text-align: center;
}
.low p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#install_success > * {
  background-color: lightgreen;
}
::placeholder {
  color: silver;
}
#query {
  font-family: 'Poor Story', cursive;
  font-size: 3.4rem;
  text-align: center;
  border-bottom: 2px solid silver;
}
button:not([class]) {
  border: none;
}
